include ../../mixins/admin

a(class='button', href='/admin/issues') Back

form#news(action='/admin/issues/' + (issue.id || ''), method='POST', enctype='multipart/form-data')
  if (issue.id)
    input(type='hidden', name='_method', value='PUT')
    input(type='hidden', name='id', value=issue.id)

  div(data-role='fieldcontain')
    label Title
    input(id='title', type='text', name='title', value=issue.title, placeholder='Title of article')

  div(data-role='fieldcontain')
    label Link
    input(id='link', type='text', name='link', value=issue.link, placeholder='http://...')

  div(data-role='fieldcontain')
    fieldset(role='fileupload')
      legend Upload a File
      //- No name; not submitted with form.
      //- js intercept, upload, pass back refs to image and insert into editor.
      input(type='file', name='filesToUpload', id='filesToUpload', multiple='false' )
      if (issue.image)
        .preview
          p Current thumbnail:
          img(src=issue.image)

  div(data-role='fieldcontain')

    label(for="magazines") Which magazine is this for?
    +magazineSelect('magazines', issue.magazines)(multiple="true")

  div(data-role='fieldcontain')
    label Creation date
      input(id='date', type='date', name='created_at', value=issue.created_at ? issue.created_at.forInput() : '', placeholder='Creation date')

  div(data-role='fieldcontain')
    button(type='submit',data-transition='fade', data-theme='c').button Save + Preview
