extend ../../admin

block content
  if(errors && errors.length > 0)
    each error in errors
      +error(error)

  .block
      .block-title
          h2 Edit Issue
      .block-content
          include _form
