extend ../../admin

block content
  .block
    .block-title
      h2 Issues
    .block-content
      .actions
        a(class='button', href='/admin/issues/new', data-icon='!') New Back issue

      form(action='/admin/issues', method='GET', class='inline-form')
        div
          label published
          select(name='published')
            option(value='all', selected=published=='all') All
            option(value='published', selected=published=='published') Published
            option(value='unpublished', selected=published=='unpublished') Unpublished

        div
          label sort by
          select(name='sort_by')
            option(value='modified_at', selected=sort_by=='modified_at') Last Modified
            option(value='title', selected=sort_by=='title') Title

        div
          label order
          select(name='order_by')
            option(value='desc', selected=order_by=='desc') Descending
            option(value='asc', selected=order_by=='asc') Ascending

        div
          button(type='submit', data-icon='F').button Filter

      table
        thead
          tr
            td Title
            td magazine
            td Created at
            td Modified at
            td Actions

        tbody
          each issue in issues
            tr
              td #{issue.title}
              td #{issue.magazines}
              td
                if typeof issue.created_at != 'undefined'
                 div #{issue.created_at.pretify()}
              td #{issue.modified_at.pretify()}
              td
                //- a(class='button-icon', href=issue.pretty_url()) v
                a(class='button-icon', href='/admin/issues/#{issue.id}/edit') E
                a(class='button-icon', data-ajax='delete', href='/admin/issues/#{issue.id}') "


      include ../../_shared/pagination_navigation
