a(class='button', href='/admin/pages') Back

form#pages(action='/admin/pages/'+ page.id, method='POST', enctype='multipart/form-data')
  input(type='hidden', name='_method', value='PUT')
  input(type='hidden', name='id', value=page.id)
  div(data-role='fieldcontain')
    label Title
    input(id='title', type='text', name='title', value=page.title, placeholder='Title of page')
  div(data-role='fieldcontain')
      fieldset(role='fileupload')
        legend Upload a File
        //- No name; not submitted with form.
        //- js intercept, upload, pass back refs to image and insert into editor.
        input(type='file', name='filesToUpload', multiple='false' )

  div(data-role='fieldcontain')
    label Page
    select(id='page', name='page')
      each configPage, name in settings.config.pages
        option(value=name, selected=page.page==configPage.name) #{configPage.name}
  div(data-role='fieldcontain')
    button(class='button', type='submit',data-transition='fade', data-theme='c') Save + Preview
