extend ../../admin

block content
    .block
        .block-title
            h2 Pages
        .block-content
            a(class='button', href='/admin/pages/new', data-icon='!') New page

            hr
            table
                thead
                  tr
                    td Title
                    td Page
                    td Last Modified
                    td Actions
                tbody
                  each page in pages
                    tr
                      td #{page.title}
                      td #{page.page}
                      td #{page.modified_at}
                      td
                        a(class='button-icon', href='/admin/pages/#{page.id}') v
                        a(class='button-icon', href='/admin/pages/#{page.id}/edit') E
                        a(class='button-icon', data-ajax='delete', href='/admin/pages/#{page.id}') "

            include ../../_shared/pagination_navigation