extend ../../admin

block content

  a(class='button', href='/admin/pages') Back

  h1 ID: #{page.id}

  h3 Page: #{page.page}

  p #{page.title}

  h2 Image

  - if(!page.image)
    p Sorry no image exist
  - else
    img(src=page.image)
