a(class='button', href='/admin/interview') Back
form#pages(action='/admin/interview/'+ (doc.id || ''), method='POST', enctype='multipart/form-data')
  - if (doc.id)
    input(type='hidden', name='_method', value='PUT')
    input(type='hidden', name='id', value=doc.id)

  div(data-role='fieldcontain')
    label Title
    input(id='title', type='text', name='title', value=doc.title, placeholder='Title')

  div(data-role='fieldcontain')
    fieldset(role='fileupload')
      legend Upload a Interview cover image
      //- No name; not submitted with form.
      //- js intercept, upload, pass back refs to image and insert into editor.
      input(type='file', name='cover', id='cover', multiple='false')

  div(data-role='fieldcontain')
    label Video
    input(id='video', type='text', name='video', value=doc.video, placeholder='Link to video')

  div(data-role='fieldcontain', id='wrapper')
    label Content
    div(id='editor_container')
      div(id='editor')
        textarea(id='editor_code', name='content') #{doc.content}

    div(id='preview_container')
      div(id='preview')
        div.markdown-body(id='preview_code')

  div(data-role='fieldcontain')
    label Description
    input(id='description', type='text', name='description', value=doc.description, placeholder='Small description')

  div(data-role='fieldcontain')
    button(class='button', type='submit',data-transition='fade', data-theme='c') Save + Preview
