extend ../../admin

block content
    .block
        .block-title
            h2 Videos
        .block-content

            .actions
                a(class='button', href='/admin/interview/new', data-icon='!') New video

            hr
            table
                thead
                  tr
                    td Title
                    td Is video ?
                    td Actions
                tbody
                  each doc in docs
                    tr
                      td #{doc.title}
                      td #{(doc.video ? 'Yes' : 'No')}
                      td
                        a(class='button-icon', href='/admin/interview/#{doc.id}') v
                        a(class='button-icon', href='/admin/interview/#{doc.id}/edit') E
                        a(class='button-icon', data-ajax='delete', href='/admin/interview/#{doc.id}') "

            include ../../_shared/pagination_navigation