extends ../../admin

block content
  h1 Video

  .actions
    a(class='button', href='/admin/interview') Back to list on videos
  .interview
    h4 #{doc.title}

    if (doc.cover)
      div: img(src=doc.cover, alt=doc.title)

    .decription #{doc.description}

    - if (doc.video)
      div(class="flowplayer", data-swf="flowplayer.swf", data-ratio="0.4167")
        video
          source(src='#{doc.video}')
    - else
      h4 Content
      != doc.rendered_content()
