a(class='button', href='/admin/events') Back

form#pages(action='/admin/events/'+ (doc.id || ''), method='POST')
  -if(doc.id)
    input(type='hidden', name='_method', value='PUT')
    input(type='hidden', name='id', value=doc.id)

  div(data-role='fieldcontain')
    label Title
    input(id='title', type='text', name='title', value=doc.title, placeholder='Event title')

  div(data-role='fieldcontain')
    label Date
      input(id='date', type='date', name='date', value=doc.date ? doc.date.forInput() : '', placeholder='Date of event')

  div(data-role='fieldcontain')
    label Location
    input(id='location', type='text', name='location', value=doc.location, placeholder='Event location')

  div(data-role='fieldcontain')
    label City
    input(id='city', type='text', name='city', value=doc.city, placeholder='Event city')

  div(data-role='fieldcontain')
    label Country
    input(id='country', type='text', name='country', value=doc.country, placeholder='Event country')

  div(data-role='fieldcontain')
    label Website
    input(id='website', type='text', name='website', value=doc.website, placeholder='Website')

  div(data-role='fieldcontain')
    label Event Type
    input(id='event_type', type='text', name='event_type', value=doc.event_type, placeholder='Event Type')

  div(data-role='fieldcontain')
    button(type='submit',data-transition='fade', data-theme='c').button Save + Preview
