extend ../../admin

block content
  .block
    .block-title
      h2 Events
    .block-content
      a(class='button', href='/admin/events/new', data-icon='!') New event
      hr

      table
        thead
          tr
            td Title
            td Date
            td Location
            td Actions
        tbody
          each doc in docs
            tr
              td #{doc.title}
              td #{doc.date.getMonth()+1}/#{doc.date.getDate()}/#{doc.date.getFullYear()}
              td #{doc.location}
              td
                a(class='button-icon', href='/admin/events/#{doc.id}') v
                a(class='button-icon', href='/admin/events/#{doc.id}/edit') E
                a(class='button-icon', data-ajax='delete', href='/admin/events/#{doc.id}') "