extends ../layout

include ../mixins/articles

block content
  .block
    .block-title
      if query == ''
        h2 Search
      else
        h2 Search - #{query}
    .block-content

      p Displaying #{results.length} results

      each item in results
        +articleBig(item.obj)

      include ../_shared/pagination_navigation

