extends ../layout

block content
  .block
    .block-title
      h2 Videos
    .block-content
      if (!interviews || interviews.length == 0)
        +info('No videos exist')
      else
        .photo-gallery-grid
          each interview in interviews
            .photo-gallery-block.small
              .gallery-photo
                a(href='/interviews/'+interview.id).hover-effect
                  if(interview.cover)
                    img(src=interview.cover, alt=interview.title)
                  else
                    img(src='/images/photos/image-36.jpg', alt=interview.title)
              .gallery-content
                h3.video-title
                  a(href='/interviews/'+interview.id, title=interview.title) #{interview.title.substr(0,100)}
                p.video-descr
                  !{interview.description.substr(0,150)}
                  if (interview.description.length > 150)
                    span.gallery-body-more &nbsp;...
                a(href='/interviews/'+interview.id).more Play video&nbsp;&nbsp;<span class="icon-text">&#9656;</span>

          .clear-float