extends ../layout1col

block content
  .main-content
    .full-width

      .article-title
        h1 #{interview.title}

    .main-page.left
      .single-block
        .content-block.main.left
          .block
            .block-content

              if (interview.video)
                //p(class="flowplayer", data-swf="flowplayer.swf", data-ratio="0.4167")
                //  video
                //    source(src='#{interview.video}')
                object
                  param(name='video', value='width: 640px; height: 360px;')
                  param(name='allowFullScreen', value='true')
                  param(name='allowScriptAccess', value='always')
                  embed(src='#{videoPath}', type='application/x-shockwave-flash', allowfullscreen='true', allowScriptAccess='always', style='width: 640px; height: 360px;')

              if(interview.description)
                div #{interview.description}

              div
                != interview.rendered_content()

    .main-sidebar.right
      +bannerWidget('300x250')
    .clear-float