extend ../layout

block content
  .block
    .block-title
      h2 Back Issues
    .block-content
      if (!issues || issues.length == 0)
        +info('No issues exist')
      else
        .photo-gallery-grid
          each issue in issues
            .photo-gallery-block.small.issue
              .gallery-photo.center
                a(href='#').hover-effect
                  img(src=issue.image).mh200
              .gallery-content
                h3: a(href='#') #{issue.title}
                a(href='#') #{issue.modified_at.pretify()}
                a(href='/download/'+issue.id).more Download&nbsp;&nbsp;<span class="icon-text">&#9656;</span>

          .clear-float
