a(class='button', href='/admin/news') Back

form#news(action='/admin/news/'+ news.id, method='POST', enctype='multipart/form-data')
  input(type='hidden', name='_method', value='PUT')
  input(type='hidden', name='id', value=news.id)
  input(type='hidden', name='header', value=news.header)

  div(data-role='fieldcontain')
    label Title
    input(id='title', type='text', name='title', value=news.title, placeholder='Title of article')

  div(data-role='fieldcontain')
    fieldset(role='fileupload')
      legend Upload a Article cover
      //- No name; not submitted with form.
      //- js intercept, upload, pass back refs to image and insert into editor.
      input(type='file', name='cover', id='cover', multiple='false')

  div(data-role='fieldcontain', id='wrapper')
    label Content
    div(id='editor_container')
      div(id='editor')
        textarea(id='editor_code', name='content') #{news.content}

    div(id='preview_container')
      div(id='preview')
        div.markdown-body(id='preview_code')

  div(data-role='fieldcontain')
    fieldset(role='fileupload')
      legend Upload image inside article content
      //- No name; not submitted with form.
      //- js intercept, upload, pass back refs to image and insert into editor.
      input(type='file', class='autoupload', name='filesToUpload[]', id='filesToUpload', multiple='true', data-destination='news/'+news.id )

  div(data-role='fieldcontain')
    label Category
    select(id='category', name='category')
      each category in settings.config.categories
        option(value=category, selected=news.category==category) #{category}

  div(data-role='fieldcontain')
    label(for="magazines") Which magazines will this be visible on?
    select(name="magazines", multiple)
      option(value="saudi", selected=news.magazines.indexOf('saudi') >= 0) Saudi
      option(value="bahrain", selected=news.magazines.indexOf('bahrain') >= 0) Bahrain
      option(value="kuwait", selected=news.magazines.indexOf('kuwait') >= 0) Kuwait
      option(value="qatar", selected=news.magazines.indexOf('qatar') >= 0) Qatar
      option(value="emirates", selected=news.magazines.indexOf('emirates') >= 0) Emirates
      option(value="oman", selected=news.magazines.indexOf('oman') >= 0) Oman

  div(data-role='fieldcontain')
    label Tags
    input(id='tags', type='text', name='tags', value=news.tags.toString(), placeholder='comma, delimited, set, of, tags')

  div(data-role='fieldcontain')
    label
      input(id='published', type='checkbox', name='published', value='yes', checked=(news.published === true ? 'checked' : undefined))
      | Published

  div(data-role='fieldcontain')
    label Published at
    input(id='published_at', type='date', name='published_at', value=news.published_at ? news.published_at.forInput() : (new Date()).forInput())

  div(data-role='fieldcontain')
    label
      input(id='featured', type='checkbox', name='featured', value='yes', checked=(news.featured === true ? 'checked' : undefined))
      | Featured

  div(data-role='fieldcontain')
    button(type='submit',data-transition='fade', data-theme='c').button Save + Preview
