extend ../../admin

block content
  .block
    .block-title
      h2 News
    .block-content
      a(class='button', href='/admin/news/new', data-icon='!') New article

      .filter-block
        strong Filter:

        form(action='/admin/news', method='GET', class='inline-form')
          div
            label title
            input(name='search', type='text', value=search, placeholder='title filter')

          div
            label published
            select(name='published')
              option(value='all', selected=published=='all') All
              option(value='published', selected=published=='published') Published
              option(value='unpublished', selected=published=='unpublished') Unpublished
          div
            label sort by
            select(name='sort_by')
              option(value='modified_at', selected=sort_by=='modified_at') Last Modified
              option(value='title', selected=sort_by=='title') Title

          div
            label order
            select(name='order_by')
              option(value='desc', selected=order_by=='desc') Descending
              option(value='asc', selected=order_by=='asc') Ascending
          div
            button(type='submit', data-icon='F').button Filter

      table
        thead
          tr
            td Title

            td Category

            td Last Modified
            td Published
            td Actions

        tbody
          each article in news
            tr
              td #{article.title}

              td #{article.pretty_category()}

              td #{article.modified_at}
              td #{(article.published) ? 'Yes' : 'No'}

              td
                a(class='button-icon', href=article.pretty_url()) v
                a(class='button-icon', href='/admin/news/#{article.id}/edit') E
                a(class='button-icon', data-ajax='delete', href='/admin/news/#{article.id}') "
      include ../../_shared/pagination_navigation
