extends ../layout

mixin job(obj)
  .photo-gallery-block.event
    //.gallery-photo
    //  a(href='/interviews/'+interview.id).hover-effect
    //    img(src='/images/photos/image-36.jpg')
    .gallery-content
      h3(title='#{obj.title}').gallery-title
        if (obj.website)
          a(href=obj.getWebsite(), title=obj.title) #{obj.title}
        else
          span #{obj.title}
      .info.gallery-body-short
        p #{obj.description.substr(0,200)}
          if (obj.description.length > 200)
            span(title='#{obj.description}').gallery-body-more &nbsp;...
      //if (obj.email)
      //  div(style='margin: 0 0 8px;').center
      //    a(href='mailto:keith@tpg-media.com') Apply now
      //if(obj.website)
      //  a(href=obj.getWebsite()).more Send email&nbsp;&nbsp;<span class="icon-text">&#9656;</span>
      //else
      a(href='mailto:keith@tpg-media.com').more Apply now&nbsp;&nbsp;<span class="icon-text">&#9656;</span>

block content
  .block
    .block-title
      h2 Jobs
    .block-content
      if (jobs.length == 0)
        +info('No jobs available')
      else
        .photo-gallery-grid
          each job in jobs
            +job(job)

          .clear-float

