extend ../../admin

block content
  if (!docs)
    - docs = []
  .block
    .block-title
      h2 Testimonials
    .block-content
      a(class='button', href='/admin/testimonials/new', data-icon='!') New testimonial

      hr
      table
        thead
          tr
            td Title
            td Last Modified
            td Actions
        tbody
          each doc in docs
            tr
              td #{doc.title}
              td #{doc.modified_at}
              td
                a(class='button-icon', href='/admin/testimonials/#{doc.id}') v
                a(class='button-icon', href='/admin/testimonials/#{doc.id}/edit') E
                a(class='button-icon', data-ajax='delete', href='/admin/testimonials/#{doc.id}') "

      include ../../_shared/pagination_navigation