extends ../../admin

block content
  .block
    .block-title
      h2 Testimonial details
    .block-content
      .actions
        a(href='/admin/testimonials').button Back
      hr
      p
        strong #{doc.title}

      - if (doc.image)
        img(src='#{doc.image}')