extends ../layout

block content
  .block
    .block-title
      h2 Media packs
    .block-content.archive

      if (!docs || docs.length == 0)
        +info('No Media Packs exist')
      else
        .photo-gallery-grid
          each doc in docs
            .photo-gallery-block.small
              div(style='height: 135px;').gallery-photo.center
                a(href='#').hover-effect
                  img(src=doc.image).mh200
              .gallery-content
                h3.video-title
                  a(href='#', title=doc.title) #{doc.title.substr(0,100)}
                if (doc.description)
                  p.video-descr
                    !{doc.description.substr(0,150)}
                    if (doc.description.length > 150)
                      span(title=doc.description).gallery-body-more &nbsp;...
                if (doc.link)
                  a(href=doc.link).more Download&nbsp;&nbsp;<span class="icon-text">&#9656;</span>

          .clear-float