mixin event(obj)
  .photo-gallery-block.event-long
    //.gallery-photo
    //  a(href='/interviews/'+interview.id).hover-effect
    //    img(src='/images/photos/image-36.jpg')
    .gallery-content
      h3(title='#{obj.title}').gallery-title
        if (obj.website)
          a(href=obj.getWebsite()) #{obj.title}
        else
          span #{obj.title}
      .info.gallery-body.gallery-body-extra
        p
          strong Date:&nbsp;
          !{obj.date.pretify()}
        if (obj.location)
          p(title='#{obj.location}')
            strong Location:&nbsp;
            !{obj.location.substr(0,100)}
            if (obj.location.length > 100)
              span(title='#{obj.location}').gallery-body-more &nbsp;...

        if (obj.city)
          p
            b City:&nbsp;
            !{obj.city.substr(0,40)}
            if (obj.city.length > 40)
              span(title='#{obj.city}').gallery-body-more &nbsp;...

        if (obj.country)
          p
            strong Country:&nbsp;
            !{obj.country.substr(0,40)}
            if (obj.country.length > 40)
              span(title='#{obj.country}').gallery-body-more &nbsp;...

        if (obj.event_type)
          p
            strong Type of event:&nbsp;
            !{obj.event_type.substr(0,30)}
            if (obj.event_type.length > 30)
              span(title='#{obj.event_type}').gallery-body-more &nbsp;...

      if(obj.website)
        a(href=obj.getWebsite()).more Visit website&nbsp;&nbsp;<span class="icon-text">&#9656;</span>