extends ../layout

include event_mixin

block content
  .block
    .block-title
      h2 Events
    .block-content
      if (events.length == 0)
        +info('No events available')
      else
        .photo-gallery-grid
          each event in events
            +event(event)

          .clear-float

