extends ../layout

include ../mixins/articles

block sideLeftTop
  +featuredInterviewBlock()

block content
  .block
    .block-title
      if (category)
        a(class='rss inline-button',href='/feed/' + category).right Read via RSS
      else
        a(class='rss inline-button',href='/feed').right Read via RSS

      h2 #{category ? category : ''} News
    .block-content
      if (news.length == 0)
        +info('No articles available')

      p Displaying #{length} results of #{total}

      each item in news
        +articleBig(item)

      include ../_shared/pagination_navigation
