extends ../layout

include ../mixins/blocks
include ../mixins/articles

block breaking-news
  +breakingNews(breaking_news)

block content
  if (featured_news.length > 0)
    +featuredArticleBlock(featured_news[0])

  .block
    .block-title
      a(href='/feed').right RSS
      h2 News
    .block-content.archive

      - for(var item in categories)
        .block.block-news-index
          h2(class='list-title '+item)
            a(href="/news/#{item}")
              != categories[item]
              span.read-more read more
          div.clear-float
          //a(href="/news/#{item}").hover-effect.hidden-mobile
          //  img(src='/images/categories/' + categories[item] + '.jpg', alt=categories[item])
          if (news[item] && news[item].length > 0)
            ul.article-block.display-block-fixed
              each article in news[item]
                //li: a(href=article.pretty_url()) #{article.title}
                li(style='list-style:none; margin-left: 0;')
                  div.article-photo.hidden-mobile
                    a(href=article.pretty_url()).hover-effect
                      img(src=article.header || '/images/photos/image-1.jpg', alt=article.title, style='width: 47px; height: 33px;')
                  div.article-content.space-for-image
                    h4
                      a(href=article.pretty_url(), title=article.title).news-title-index #{article.title.substr(0,50)}