extends ../layout1col

include ../mixins/articles
include ../mixins/blocks

block content
  .main-content
    .full-width
      if (!news.published)
        +info('This is an unpublished draft article')

      if (updated)
        +success('Article has been updated')

      .article-title
        .share-block.right
          if (nextItem)
            div
              a(href=nextItem.pretty_url()).button Read next article
          +shareArticle(news)

        h1 #{news.title}
        .author
          .a-content
            strong
              !=news.pretty_category()
            if (news.published)
              span.meta
                span.icon-text &#128340; #{news.publish_date()}

    .main-page.left
      .single-block
        .content-block.main.left
          .block
            .block-content

              if (news.header)
                p.center: span.hover-effect
                  img(src=news.header)

              .shortcode-content
                .paragraph-row
                  .column3
                    if (settings.user && settings.user.hasAuth('write'))
                      h3.highlight-title Actions
                      div
                        a(href=news.edit_path(), data-icon='E ', class='edit-link button') Edit article
                        .margin-small
                          a(href='/admin/news').button Create new article
                  .column9
                    div
                      != html_content

                .article-title
                  +shareArticle(news)
                  .author
                    .a-content
                      strong
                        !=news.pretty_category()
                      if (news.published)
                        span.meta
                          span.icon-text &#128340; #{news.publish_date()}
                  +articleTags(news)
    .main-sidebar.right
      +socializeWidget
      +latestArticles()
      +tagCloudWidget(news.tags)

    .clear-float
