a(class='button', href='/admin/jobs') Back

form#pages(action='/admin/jobs/'+ (doc.id || ''), method='POST')
  -if(doc.id)
    input(type='hidden', name='_method', value='PUT')
    input(type='hidden', name='id', value=doc.id)

  div(data-role='fieldcontain')
    label Title
    input(id='title', type='text', name='title', value=doc.title, placeholder='Job title')

  div(data-role='fieldcontain')
    label Description
    input(id='description', type='text', name='description', value=doc.description, placeholder='Job description')

  div(data-role='fieldcontain')
    label Email
    input(id='email', type='email', name='email', value=doc.email, placeholder='Job email')

  div(data-role='fieldcontain')
    label Website
    input(id='website', type='text', name='website', value=doc.website, placeholder='Website')

  div(data-role='fieldcontain')
    button(type='submit',data-transition='fade', data-theme='c').button Save + Preview
