extend ../../admin

block content
  .block
    .block-title
      h2 Jobs
    .block-content
      a(class='button', href='/admin/jobs/new', data-icon='!') New job
      hr

      table
        thead
          tr
            td Title
            td Actions
        tbody
          each doc in docs
            tr
              td #{doc.title}
              td
                a(class='button-icon', href='/admin/jobs/#{doc.id}') v
                a(class='button-icon', href='/admin/jobs/#{doc.id}/edit') E
                a(class='button-icon', data-ajax='delete', href='/admin/jobs/#{doc.id}') "