extend ../../admin

block content
  .block
    .block-title
      h2 Event
    .block-content
      a(class='button', href='/admin/events') Back

      hr

      div.event
        h3 #{doc.title}
        hr
        div
          strong Date:
          span #{doc.date}
        div
          strong Location:
          span #{doc.location}
        div
          strong City:
          span #{doc.city}
        div
          strong Country:
          span #{doc.country}
        div
          strong Website:
          span #{doc.website}