form(method="post", name="f", action="/upload", enctype="multipart/form-data")
  //- http://tpgmedia.s3.amazonaws.com/
  fieldset(role="fileupload")
    legend Upload a File
    input(type="file", name="file", multiple="true")

  div.actions
    button.btn.primary(type="submit") Upload
    button.btn.cancel(type="button") Cancel