.header-login
  if settings.user
    div.signin
      span Welcome &nbsp;
        a(href='/account') #{settings.user.name} &nbsp;
      a(class='button', href='/account/logout', data-icon='e') Logout
  else
    form(id="log-in-form", action='/account/login', method='POST').signin.form
      p
        input(id='email', name='email', type='text', value='#{email || ""}', placeholder='john@example.com')
        input(id='password', name='password', type='password', placeholder='password')

        button(type='submit', data-icon='E').button Login
        a(href='/account/new', data-icon='+').button Sign up
