div.pagination
  if (page > 1)
    a(class='page-numbers', href='?page=1') &lt;&lt;
    a(class='page-numbers', href='?page=#{parseInt(page, 10) - 1}') &lt;
  
   - for (var x = 1; x <= pages; x++ )
     a(class='page-numbers', href='?page=#{x}') #{x}
  
  if (page < pages)
    a(class='page-numbers', href='?page=#{parseInt(page, 10) + 1}') &gt;
    a(class='page-numbers', href='?page=#{pages}') &gt;&gt;
