.header-search
  form#search(action='/search', method='GET')
    input(name='query', type='text', placeholder='Search something...').search-input
    input(type='submit', value='Search').search-button
