.widget

  h3 Today events
  .widget-articles
    ul
      - if (events.length == 0)
        li.no-event
          caption No events for today
      - else
        - each event in events
          li: a(href='events/#{event.id}/show') #{event.title}