extend ../layout

block content
  .block
    .block-title
      h2 Advertise with us
    .block-content
      p.
        Are you interested in advertising with us? Contact us now, tell
        us your requirement, and our dedicated advertising team will be
        in contact with you.

      form(action='/message', method='POST', data-ajax).form
        p(data-role='fieldcontain')
          label Name
          input(type='text', name='name', placeholder='John Smith')

        p(data-role='fieldcontain')
          label Contact address
          input(type='email', name='email', placeholder='john@smith.com')

        p(data-role='fieldcontain')
          label Message
          textarea(name='message')

        p(data-role='fieldcontain')
          input(type='hidden', name='desc', value='Advert query')
          button(type='submit', data-transition='fade', data-theme='c').button Send
