extends ../layout

block content
  -if (image)
    .page-image
      img(src=image.image, alt=image.title)
    hr

  .block
    .block-title
      a(href='/').right Back to homepage
      h2 Contact us
    .block-content

      p.contact-title Managing director
      p.contact-val Eddie Rayner:
        a(href='mailto: e.rayner@tpg-media.com') e.rayner@tpg-media.com

      p.contact-title Editor
      p.contact-val Rod Millington:
        a(href='mailto: editor@tpg-media.com') editor@tpg-media.com

      p.contact-title Group sales manager
      p.contact-val Laura Wojciechowski:
        a(href='mailto: laura@tpg-media.com') laura@tpg-media.com

      p.contact-val2 Advertising sales:
        a(href='mailto: info@tpg-media.com') info@tpg-media.com
      p.contact-val2 Digital sales:
        a(href='mailto: digital@tpg-media.com') digital@tpg-media.com
      p.contact-val2 Design enquiries:
        a(href='mailto: esign@tpg-media.com') design@tpg-media.com
      p.contact-val2 Press releases:
        a(href='mailto: news@tpg-media.com') news@tpg-media.com
      p.contact-val Webmaster:
        a(href='mailto: web@tpg-media.com') web@tpg-media.com

      p.contact-title Telephone:
        span(style='text-decoration: none; font-weight: normal;') &nbsp;+971 4 3494925

      p Do you have something you'd like to tell us about? Perhaps a general query about our magazine? Feel free to contact us.


      div.form

        form(action='/message', method='POST', data-ajax)
          p.contact-form-user
            label(for='name') Name
            input(type='text', name='name', placeholder='John Smith')

          p.contact-form-email
            label(for='email') Contact address
            input(type='email', name='email', placeholder='john@smith.com')

          p.contact-form-message
            label(for='message')  Message
            textarea(name='message', placeholder='Your message...')

          p
            input(type='hidden', name='desc', value='Contact')
            input(type='submit', value='Send message').styled-button
