extends ../layout

include ../mixins/articles

block breaking-news
  +breakingNews(breaking_news)

block content
  if (featured_news.length > 0)
    +featuredArticleBlock(featured_news[0])


  if (news.length > 0)
    .block
      .block-content
        ul.article-block-big
          each item in news
            li
              .article-photo.center
                a(href=item.pretty_url()).hover-effect.max
                  if (item.header)
                    img(src=item.header, alt='')
                  else
                    img(src='images/photos/image-10.jpg', alt='')
              .article-content
                h4.news-title
                  a(href=item.pretty_url(), title=item.title) #{item.title}
                span.meta
                  a(href=item.pretty_url())
                    span.icon-text &#128340; #{item.publish_date()}
                a(href='/news').more Read more articles

      //figure.videobox
      //  a(href="#") test

  ul
    li.videos-issues
      if (videos.length > 0)
        +featuredInterviewBlock(videos[0])

    //li.videos-issues.videos-issues-right
    //  +newsLetterSubscribeBlock()

    li.videos-issues.videos-issues-right
      if(issues.length > 0)
        +latestMagazineWidget(issues[0])

//block sideRight
//  include ../_shared/today_events
