extend ../layout

block content
  .block
    .block-title
      h2 Subscribe now
    .block-content

      if (error)
        +error('Error while processing your request')

      .controls

        div M A G A Z I N E &nbsp; S U B S C R I P T I O N
        p Order now to receive your copy of our leading construction magazine.

        .subscr-details
          p.subscr-inf To subscribe simply download our TPG Subscription form. Print the form, complete, attach a cheque made payable to "TPG Publishing LLC" and post in a sealed envelope to the address below:
          p TPG Publishing LLC
          p PO BOX 115421,
          p Dubai, UAE
        p

        #offer-selection
            each domain in offers
              article(class="article-big subscribe-#{domain}")
                .article-photo
                  a(href='/files/#{domain}.pdf').hover-effect: img(src='/img/logos/#{domain}_subscr.jpg')
                .article-content
                  h2 #{domain} Projects Magazine
                  p
                    div Domestic $150
                    div GCC $199
                    div Worldwide $260
                  p
                    a(href='/files/#{domain}.pdf').button Subscribe