extend ../layout

mixin testimonial(item)
  .photo-gallery-block.event
    div(style='margin-top: 10px;').gallery-photo
      img(src=item.image, style='max-width: 165px; max-height: 120px;')
    .gallery-content
      .info.gallery-body-short
        p #{item.title.substr(0,200)}
          if (item.title.length > 200)
            span(title='#{item.title}').gallery-body-more &nbsp;...


block content

  .block
    .block-title
      h2 Testimonials
    .block-content
      if (testimonials.length == 0)
        +info('No testimonials available')
      else
        .photo-gallery-grid
          -each testimonial in testimonials
            +testimonial(testimonial)

          .clear-float