mixin magazineSelect(name, selected)
  if (!selected)
    - selected = []
  select(name=name, attributes=attributes)
    option(value="saudi", selected=selected.indexOf('saudi') >= 0) Saudi
    option(value="kuwait", selected=selected.indexOf('kuwait') >= 0) Kuwait
    option(value="qatar", selected=selected.indexOf('qatar') >= 0) Qatar
    option(value="emirates", selected=selected.indexOf('emirates') >= 0) Emirates
    option(value="bahrain", selected=selected.indexOf('bahrain') >= 0) Bahrain
    option(value="oman", selected=selected.indexOf('oman') >= 0) Oman