mixin featuredArticleBlock(article)
  .block
    .featured-block
      .article-content
        h2
          a(href=article.pretty_url()) #{article.title}

        span.meta
          a(href=article.pretty_url())
            span.icon-text &#128340;
            | #{article.publish_date()}
      .article-photo
        a(href=article.pretty_url()).hover-effect.align-items
          if (article.header)
            img(src=article.header, alt='').news-max-size
          else
            img(src='/images/photos/image-9.jpg', alt='').news-max-size

mixin articleBig(article)
  .article-big
    .article-photo
      a(href=article.header).hover-effect
        if (article.header)
          img(src=article.header)
        else
          img(src='/images/photos/image-18.jpg')
    .article-content
      h2: a(href=article.pretty_url()) #{article.title}
      span.meta
        a(href='article.pretty_url()')
          span.icon-text &#128340; #{article.publish_date()}

      p
        != article.excerpt(200)
      span.meta
        a(href=article.pretty_url()).more Read Full Article


mixin shareArticle(article)
  .share-block.right
    div
      //.share-article.left
      //  span Social media
      //  strong Share this article
      //
      //.left
      //  a(href="#", class="custom-soc icon-text") 
      //  a(href="#", class="custom-soc icon-text") 
      //  a(href="#", class="custom-soc icon-text") 
      //  a(href="#", class="custom-soc icon-text") 
      //  a(href="#", class="custom-soc icon-text") 
      //
      //.clear-float

    div
      //a(href="#", class="small-button")
      //  span.icon-text  &nbsp;&nbsp;Print this article
      //a(href="#", class="small-button")
      //  span.icon-text ✉ &nbsp;&nbsp;Send e-mail

mixin articleTags(article)
  .article-tags.tag-cloud
    strong TAGS:
    each tag in article.tags
      a(href='/search?tag=' + tag) #{tag}


mixin latestArticles(news)
  if (!news)
    - news = []
  .widget
    h3 Latest Articles
    .widget-articles
      ul
        if (news.length == 0)
          li
            .article-content
              strong No articles available
        else
          each item in news
            li
              .article-photo
                a(href=item.pretty_url()).hover-effect
                  if (item.header)
                    img(src=iten.header)
                  else
                    img(src='/images/photos/image-1.jpg')
              .article-content
                h4: a(href=item.pretty_url()) #{item.title}
                span.meta
                  a(href=item.pretty_url())
                    span.icon-text &#128340; #{item.publish_date()}
