mixin socializeWidget(article)
  .widget
    h3 Socialize
    .widget-social
      .social-bar
        a(href="#").social-icon
          i.number 1.2m
          span.facebook Facebook
        a(href="https://twitter.com/Emiratesproject").social-icon
          i.number 1.2m
          span.twitter Twitter
        a(href="#").social-icon
          i.number 1.2m
          span.google Google+
        a(href="http://www.linkedin.com/company/1801349?trk=tyah&trkInfo=tas%3ATPG%20Pub%2Cidx%3A1-2-2").social-icon
          i.number 1.2m
          span.linkedin Linkedin

mixin tagCloudWidget(tags)
  if (!tags)
    - tags = []
  .widget
    h3 Tag Cloud
    .tag-cloud
      each tag in tags
        a(href='/search?tag=' + tag) #{tag}


mixin breakingNews(news)
  if (news && news.length > 0)
    .breaking-news
      span.the-title Breaking News
      ul
        each item in news
          li: a(href=item.pretty_url()) #{item.title}


mixin featuredInterviewBlock(interview)
  if (interview)
    .block
      div(style='margin-bottom: 0px;').block-title
        h2 Video
      .featured-block
        .article-content
          h3: a(href='/interviews/'+interview.id) #{interview.title}
        .article-photo
          a(href='/interviews/'+interview.id, style='text-align: center;').hover-effect
            if (interview.cover)
              img(src=interview.cover, alt=interview.title, style='width: 100%;').video-max-size
            else
              img(src='/images/photos/image-8.jpg', alt=interview.title, style='width: 100%;').video-max-size

mixin newsLetterSubscribeBlock()
  div(style='border-bottom: none; margin: 5px 0 0 0;').widget.latest-magazine
    h3 Newsletter
    .latest-galleries
      .gallery-widget
        div(style='padding: 0 10px;').gallery-content
          div(style="margin-bottom: 10px;") Sign up for our newsletter
          form(id="newsletter-subscribe", action='/account/newsletter', method='POST')
            p
              input(id='email-newsletter', name='email', type='text', value='', placeholder='Email address', style='width: 100%; padding: 6px;')

            button(id='subscribeNewsletter', type='submit', data-icon='E', style='float: right;').button Subscribe
          div(style='clear: both;')


mixin latestMagazineWidget(magazine)
  .widget.latest-magazine
    h3 Our latest magazine
    .latest-galleries
      .gallery-widget
        .gallery-photo(rel="hover-parent")
          ul
            li: a(href='/issues').hover-effect
              if (!magazine.image)
                img(src="images/photos/image-6.jpg", alt="")
              else
                img(src=magazine.image, alt="").mh200
          .gallery-content
            h4: a(href='/issues') #{magazine.title}
            span.meta
              a(href="/issues") <span class="icon-text">&#59212;</span>View all magazines


mixin todayEventsBlock(events)
  .block
    h2.list-title Today events
    ul.article-list
      if (events.length == 0)
        li No events for today
      else
        each event in events
          li: a(href=event.website || '/events') #{event.title}
    a(href='/events').more More events

mixin bannerVertical(size)
  .wrapper
    .ad-banner.vads
      .vtop
        a(href='/').placeholder
          img(src='/images/no-banner-'+size+'.jpg')

mixin bannerHorizontal(size)
    .ad-banner.vads.vads-horizontal.vads-align
      .vtop
        a(href='/').placeholder
          img(src='/images/no-banner-'+size+'.jpg', style='max-width: 630px;')

mixin bannerBlock(size)
  .block
    .banner.ads
      .top
        a(href='/').placeholder
          img(src='/images/no-banner-200x200.jpg')

mixin bannerWidget(size)
  .widget
    .ads
      .top
        a(href='/').placeholder
          img(src='/images/no-banner-200x200.jpg')




mixin calendarWidget
  .widget
    h3 Calendar
    - var date = new Date()
    div#calendar_wrap
      table#wp-calendar
        caption #{date.getMonthName()} #{date.getFullYear()}
        thead
          tr
            th(scope='col', title='Monday') M
            th(scope='col', title='Tuesday') T
            th(scope='col', title='Wednesday') W
            th(scope='col', title='Thursday') T
            th(scope='col', title='Friday') F
            th(scope='col', title='Saturday') S
            th(scope='col', title='Sunday') S
        tfoot
          tr
            td#prev(colspan='3')
              a(href='#') Prev
            td.pad
            td#next(colspan='3')
              a(href='#') Next
        tbody
          tr
            td
            td
            td
            td
            td
            td
            td
          tr
            td
            td
            td
            td
            td
            td
            td
          tr
            td
            td
            td
            td
            td
            td
            td
          tr
            td
            td
            td
            td
            td
            td
            td
          tr
            td
            td
            td
            td
            td
            td
            td

