extends ../base

block page

  .main-content
    .full-width
      .big-error-sign
        h2 404
        strong We seem to have lost You in the clouds
        span .
          The page You're looking for is not here. <br />
          Maybe You should <a href="/">go home</a>

    .clear-float