extend ../layout

block content
  .block
    .block-title
      h2 Edit profile
    .block-content
      if (error)
        +error(message)

      form(action='/account', method='POST', enctype='multipart/form-data').form
        input(type='hidden', name='_method', value='PUT')
        input(type='hidden', name='id', id='userId', value=user.id)

        p(class=(nameError ? 'error' : ''))
          label Name
          input(id='name', type='text', name='name', value=form.name, placeholder='Your name')

        p(data-role='fieldcontain', class=(phoneError ? 'error' : ''))
          label Phone
          input(id='phone', type='text', name='phone', value=form.phone, placeholder='Your phone number')

        p(data-role='fieldcontain', class=(emailError ? 'error' : ''))
          label Email Address
          input(id='email', type='text', name='email', value=form.email, placeholder='Your email address')
          p Requires current password

        p(data-role='fieldcontain')
          label Current password
          input(id='password', type='password', name='password')

        h3 Change password
        p Requires current password

        p(data-role='fieldcontain')
          label New password
          input(id='newpassword', type='password', name='newpassword')

        p(data-role='fieldcontain')
          label Confirm password
          input(id='newpassword_confirm', type='password', name='newpassword_confirm')

        h3 Upload a file
        p(data-role='fieldcontain')

        -if (user.cv)
          -var fileName = user.cv.split('/').pop();

        p(data-role='fieldcontain')
          label File upload
          -if ( fileName )
            p(data-role='fieldcontain', id='currentCV')
              a(href=user.cv, target='_blank') current file: #{fileName || ''} &nbsp;
              span(id='deletecv', data-icon='e', style='text-decoration: underline; cursor: pointer;') remove
          input(id='cv', type='file', name='cv', multiple='false')

        p(data-role='fieldcontain')
          input(type='submit', value='Save', data-transition='fade', data-theme='c').button


  -
