extend ../layout

block content
  .block
    .block-title
      h2 Reset password
    .block-content
      if (error)
        +error('Passwords must match, and be at least eight characters.')

      form(action='/account/reset', method='POST').form
        p
          label Password
          input(name='new_password', type='password', placeholder='new password')
        p
          label Confirm password
          input(name='new_password_confirmation', type='password', placeholder='confirmation')

        p.center
          input(name='token', type='hidden', value=token)
          button(type='submit').button Reset
