extends ../layout

block content
  .block
    .block-title
      h2 Log in
    .block-content
      if (error.length > 0)
        +error(error)

      form(action='/account/login', method='POST').form

        p(data-role='fieldcontain')
          label(for='email') Email
          input(id='email', name='email', type='text', value=email, placeholder='john@example.com')

        p(data-role='fieldcontain')
          label(for='password') Password
          input(id='password', name='password', type='password')

        p(data-role='fieldcontain').center
          strong Remember me &nbsp;&nbsp;
          input(type='checkbox', name='rememberme', value='1')

        p(data-role='fieldcontain').center
          input(name='path', type='hidden', value='#{path}')
          button(type='submit', data-icon='E').button Login
          a(href='/account/lost', style='margin-left: 10px;') Lost password ?



      .center
        h2(style='margin-bottom: 10px;') Don't have an account?
        a.button(href='/account/new',data-icon='+') Sign up now!
