extends ../layout

block content
  .block
    .block-title
      h2 Password reset
    .block-content
      if (error)
        +error('Email address does not exist')

      form(action='/account/searching', method='POST').form
        p
          label Email address:
          input(name='email', type='text', placeholder='account@address')
        p
          button(type='submit').button Reset password


