extend ../layout

block content
  .block
    .block-title
      h2 Create account
    .block-content
      if (errs && errs.length > 0)
        each error in errs
          +error(error.msg)

      form(action='/account', method='POST').form

        p(data-role='fieldcontain')
          label(for='name') Name
          input(id='name', name='name', value='#{name}', type='text')

        p(data-role='fieldcontain')
          label(for='email') Email
          input(id='email', name='email', type='text', value=email, placeholder='john@example.com')

        p(data-role='fieldcontain')
          label(for='password') Password
          input(id='password', name='password', type='password')

        p(data-role='fieldcontain')
          label(for='password_confirmation') Confirmation
          input(id='password_confirmation', name='password_confirmation', type='password')

        p(data-role='fieldcontain')
          input(type='submit', value='Sign Up').button
