extends ../layout

block content
  .block
    .block-title
      h2 Reset password
    .block-content
      +success('Password reset successful')

      p You may now
        a(href='/account/login') login
