extend ../layout

block content
  .block
    .block-title
      h2 #{user.name} account
    .block-content
      p
        h2 Hello #{user.name}
      if(settings.user)
        if (settings.user.hasAuth('write'))
          a(href='/admin', data-icon='D').button Admin dashboard
          span &nbsp;

        a(href='/account/edit', data-icon='E').button Edit account
        span &nbsp;
        a(href='/account/logout', data-icon='e').button Logout

      if (updated)
        div.success
          p Account details updated.

      div.margin-small Email: <strong>#{user.email}</strong>
      div.margin-small Phone: <strong>#{user.phone}</strong>
      div.margin-small Amount of authorisations: <strong>#{user.authorisation}</strong>
      if (user.cv)
        div.margin-small
          a(href=user.cv, data-icon='e', target='_blank').button Download your cv file
