form(action='/admin/users/' + user.id, method='POST')
  input(type='hidden', name='_method', value='PUT')
  input(type='hidden', name='id', value=user.id)

  div(data-role='fieldcontain')
    legend Name
    input(id='name', type='text', name='name', value=user.name, placeholder='John Doe')

  div(data-role='fieldcontain')
    legend Phone
    input(id='phone', type='text', name='phone', value=user.phone, placeholder='0123456789')

  div(data-role='fieldcontain')
    legend Email Address
    input(id='email', type='text', name='email', value=user.email, placeholder='john@doe.com')

  div(data-role='fieldcontain')
    legend Password
    input(id='password', type='password', name='password')

  div(data-role='fieldcontain')
    legend Authorisation
    select(id='authorisation', name='authorisation')
      option(value=0, selected=user.authorisation==0) None
      option(value=1, selected=user.authorisation==1) Read
      option(value=2, selected=user.authorisation==2) Write
      option(value=3, selected=user.authorisation==3) Publish
      option(value=4, selected=user.authorisation==4) Admin

  div(data-role='fieldcontain')
    input(class='button', type='submit', value='Update', data-transition='fade', data-theme='c').button
