extend ../../admin

block content
  .block
    .block-title
      h2 Edit user
    .block-content
      if (error)
        div.error
          p Validation error. Check your input.

      include _form
