extend ../../admin

block content
  .block
    .block-title
      h2 Users
    .block-content
      form(action='/admin/users', method='GET', class='inline-form')
        div
          label title
          input(name='search_name', type='text', value=search_name, placeholder='name filter')

        div
          label email
          input(name='search_email', type='text', value=search_email, placeholder='email filter')

        div
          label sort by
          select(name='sort_by')
            option(value='name', selected=sort_by=='name') Name
            option(value='email', selected=sort_by=='email') Email

        div
          label order
          select(name='order_by')
            option(value='desc', selected=order_by=='desc') Descending
            option(value='asc', selected=order_by=='asc') Ascending

        div
          button(type='submit', data-icon="F").button Filter

      table
        thead
          tr
            td Name
            td Email
            td Phone
            td Actions

        tbody
          each user in users
            tr
              td #{user.name}
              td #{user.email}
              td #{user.phone}

              td
                a(class='button-icon', href='/admin/users/#{user.id}') v
                a(class='button-icon', href='/admin/users/#{user.id}/edit') E
                a(class='button-icon', data-ajax='delete', href='/admin/users/#{user.id}') "

      include ../../_shared/pagination_navigation
