extend ../../admin

block content
  .block
    .block-title
      h2(data-icon='u ') #{user.name}
    .block-content.show
      p.actions
        a(href=user.edit_path(), data-icon='E', class='edit-link').button Edit

      if (success)
        div.success
          p Account updated.

      ul.data-list
        li(data-icon='m'): a(href='mailto:#{user.email}') #{user.email}
        li(data-icon='p') #{user.phone}

      table
        thead
          tr
            td Field
            td Value

        tbody
          tr
            td Id
            td #{user.id}

          tr
            td Authorisation
            td #{user.authorisation}

          tr
            td Created At
            td #{user.created_at}

          tr
            td Modified At
            td #{user.modified_at}

      h2 Subscriptions

      table
        thead
          tr
            td Magazine
            td Start Date
            td End Date

        tbody
          each subscription in user.subscriptions
            tr
              td #{subscription.magazine}
              td #{subscription.start_date}
              td #{subscription.end_date}


