@import "variables";

.admin {

    .show {
        h1, h2, h3, h4 {
            margin-top: 15px;
            margin-bottom: 20px;
        }
    }

    .filter-block {
        border-bottom: 1px solid @headerColor;
        padding: 5px;
        margin-top: 1.5em;
    }

    .actions {
        margin-bottom: 1em;
    }

    table {
        width: 100%;

        thead {
            background-color: @headerColor;

            tr {
                th, td {
                    color: #fff;
                    padding: 10px;
                    font-weight: bold;
                }
            }
        }

        tbody {
            tr {
                td {
                    padding: 7px;
                    border-bottom: 1px dotted @hrColor;
                }
            }
        }
    }

    .button-icon {
        text-transform: none;
        font-weight: 200;
        display: inline-block;
        padding: 0.3em 0.5em;
        text-decoration: none;
        border-radius: 0.1875em;
        transition: all 0.3s ease;
        font-family: 'icomoon';
        font-variant: normal;
        -webkit-font-smoothing: antialiased;
    }

    div[data-role='fieldcontain'] {
        font-size: 1.2em;
        display: block;
        margin-top: 10px;
        margin-bottom: 20px;

        label, legend {
            display: block;
            margin-bottom: 10px;
        }

        [data-role="fieldcontain"] {
            padding:10px 5px;
        }

        input[type=text] {
            padding:10px 20px;
            width:100%;
        }

        fieldset[role='fileupload'] {
            border: 1px solid @headerColor;
            border-radius: 5px;
            padding: 10px;

            .preview {
                margin: 1em;
            }
        }

        input[type='text'],
        input[type='password'],
        input[type='date'],
        input[type='number'],
        select {
            min-width: 200px;
            padding: 3px;
        }

        input[type='text'],
        input[type='password'],
        input[type='date'],
        input[type='number'] {
            padding: 7px;
        }

        input[type='checkbox'] {
            margin-right: 5px;
            margin-left: 5px;
        }
    }

    form.inline-form {
        border-top: dashed 1px #e6e9ed;
        border-bottom: dashed 1px #e6e9ed;
        padding: 1em 0;
        margin: 1em 0;
        overflow: hidden;

        div {
            margin-right: 1em;
            padding-right: 1em;
            border-right: solid 1px #e6e9ed;
            float: left;
            min-height: 4em;

            label {
                display: block;
                margin-bottom: 5px;
                font-size: 1.2em;
            }

            .button {
                margin-top: 15px;
            }
        }
    }

    .pagination {
        a {
            margin-left: 2px;
            margin-right: 2px;
        }
    }

    // Markdown editor!
    #wrapper {
        margin: 1em auto;;
        position: relative;
        height: 100%;
        padding:0;
        //min-height: 500px;

        #editor_container,
        #preview_container {
            position:relative;
            display:inline-block;
            vertical-align:top;
            min-height:100%;
        }

        #editor_container {
            width:29%;
            margin-right:1%;

            &:before {
                text-transform: uppercase;
                display:block;
                vertical-align:middle;
                line-height:30px;

                content:"Markdown";

                width:100%;
                height:30px;
            }
        }

        #preview_container {
            width:70%;

            &:before {
                text-transform: uppercase;
                display:block;
                vertical-align:middle;
                line-height:30px;

                content:"Preview";

                width:100%;
                height:30px;
            }

        }

        #editor_container.focussed {
            width: 70%;

            &+#preview_container {
                width: 29%;
            }
        }

        #editor,
        #preview {
            position:relative;

            padding: 5px;

            height:500px;
        }

        #editor_code,
        #preview_code {
            width:100%;

            min-height:200px;
            height:100%;

            background: #ffffff;
            border: 1px solid #cacaca;
            outline: none;

            img {
                display:block;
                max-width:100%;
            }

        }

        #editor_code {
            background: #26292C;
            color: #C4E2F2;
            padding: 10px;
            resize: none;
            font: normal 14px/18px 'Menlo', 'Bitstream Vera Sans Mono', 'Lucida Console P', 'Courier New', 'monospace';
        }

        #preview_code {
            max-height:500px;

            padding: 10px;
            line-height: 1.4em;

            // woop
            overflow-x: hidden;
            overflow-y: scroll;
        }
    }


    // Style converted
    .markdown_body {
        font-size:15px;
        line-height:1.7;
        overflow:hidden;

        &>:first-child {
            margin-top:0!important;
        }

        &>:last-child {
            margin-bottom:0!important;
        }

        a {
            color: #4183c4;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        a.anchor {
            display:block;
            padding-left:30px;
            margin-left:-30px;
            cursor:pointer;
            position:absolute;
            top:0;
            left:0;
            bottom:0;
        }

        h1, h2, h3, h4, h5, h6 {
            font-weight:bold;
            line-height:1.7;
            cursor:text;
            position:relative;
            margin:1em 0 15px;
            padding:0;
        }

        h1 .octicon-link, h2 .octicon-link, h3 .octicon-link, h4 .octicon-link, h5 .octicon-link, h6 .octicon-link {
            display:none;
            color:#000;
        }

        h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
            text-decoration:none;
            line-height:1;
            padding-left:0;
            margin-left:-22px;
            top:15%;
        }

        h1 {
            font-size:2.5em;
            border-bottom:1px solid #ddd;
        }

        h2 {
            font-size:2em;
            border-bottom:1px solid #eee;
        }

        h3 {
            font-size:1.5em;
        }

        h4 {
            font-size:1.2em;
        }

        h5 {
            font-size:1em;
        }

        h6 {
            color:#777;
            font-size:1em;
        }

        hr {
            border:0 none;
            color:#ccc;
            height:4px;
            margin:15px 0;
            padding:0;
        }

        ul, ol {
            padding-left:30px;
        }

        ul.no-list, ol.no-list {
            list-style-type:none;
            padding:0;
        }

        dl dt {
            font-size:14px;
            font-weight:bold;
            font-style:italic;
            margin-top:15px;
            padding:0;
        }

        dl dd {
            margin-bottom:15px;
            padding:0 15px;
        }

        blockquote {
            border-left:4px solid #DDD;
            color:#777;
            padding:0 15px;
        }

        table {
            width:100%;
            overflow:auto;
            display:block;
            border-collapse: collapse;
        }

        table th, table td {
            border:1px solid #ddd;
            padding:6px 13px;
        }

        table tr {
            border-top:1px solid #ccc;
            background-color:#fff;
        }

        table tr:nth-child(2n) {
            background-color:#f8f8f8;
        }

        img {
            max-width:100%;
            -moz-box-sizing:border-box;
            box-sizing:border-box;
        }

        span.frame {
            display:block;
            overflow:hidden;
        }

        span.frame>span {
            border:1px solid #ddd;
            display:block;
            float:left;
            overflow:hidden;
            width:auto;
            margin:13px 0 0;
            padding:7px;
        }

        span.frame span img {
            display:block;
            float:left;
        }

        span.frame span span {
            clear:both;
            color:#333;
            display:block;
            padding:5px 0 0;
        }

        span.align-center>span {
            display:block;
            overflow:hidden;
            text-align:center;
            margin:13px auto 0;
        }

        span.align-center span img {
            text-align:center;
            margin:0 auto;
        }

        span.align-right>span {
            display:block;
            overflow:hidden;
            text-align:right;
            margin:13px 0 0;
        }

        span.align-right span img {
            text-align:right;
            margin:0;
        }

        span.float-left {
            display:block;
            margin-right:13px;
            overflow:hidden;
            float:left;
        }

        span.float-left span {
            margin:13px 0 0;
        }

        span.float-right {
            display:block;
            margin-left:13px;
            overflow:hidden;
            float:right;
        }

        span.float-right>span {
            display:block;
            overflow:hidden;
            text-align:right;
            margin:13px auto 0;
        }

        code, tt {
            border:1px solid #ddd;
            background-color:#f8f8f8;
            border-radius:3px;
            margin:0 2px;
            padding:0 5px;
        }

        pre>code {
            white-space:pre;
            border:none;
            background:transparent;
            margin:0;
            padding:0;
        }

        .highlight pre, pre {
            background-color:#f8f8f8;
            border:1px solid #ddd;
            font-size:13px;
            line-height:19px;
            overflow:auto;
            border-radius:3px;
            padding:6px 10px;
        }

        pre code, pre tt {
            background-color:transparent;
            border:none;
            margin:0;
            padding:0;
        }

        .highlight pre, pre {
            background-color:#f8f8f8;
            border:1px solid #ccc;
            font-size:13px;
            line-height:19px;
            overflow:auto;
            border-radius:3px;
            padding:6px 10px;
            font: normal 13px/19px 'Consolas', 'Liberation Mono', 'Courier', monospace;
        }

        pre code, pre tt {
            background-color:transparent;
            border:none;
            margin:0;
            padding:0;
        }

    }

    .event {
        div {
            margin: 10px 0;
        }
    }

    ul.data-list {
        li {
            margin: 10px;
            font-weight: bold;
        }
    }

}