
/* Color Scheme */
.main-menu,
.breaking-news .the-title,
.widget > h3,
.button,
a.small-button,
.marker,
.hover-effect,
.block-title,
#wp-calendar td#today,
.small-button,
.form p input[type=submit] {
  background-color: @headerColor;
}
.list-title,
a:hover,
a.mobile-menu,
.widget .meta a {
  color: @listHeaderColor;
}
.list-title {
  border-bottom: 2px solid @listTitleBorerColor;
}

