
/* Menu Font */
.main-menu .the-menu li a,
.secondary-menu ul li a {
  font-family:"Titillium Web", sans-serif;
}

/* Block Titles */
.list-title {
  font-family:"Titillium Web", sans-serif;
}

/* Article Titles */
h1, h2, h3,
h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
}


@font-face {
    font-family: 'icomoon';
    src:url('/fonts/icomoon/icomoon.eot');
    src:url('/fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
    url('/fonts/icomoon/icomoon.woff') format('woff'),
    url('/fonts/icomoon/icomoon.ttf') format('truetype'),
    url('/fonts/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="data-icon"], [class*=" data-icon"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.data-iconpencil:before {
    content: "\45";
}
.data-iconhome:before {
    content: "\68";
}
.data-iconremove:before {
    content: "\22";
}
.data-iconcog:before {
    content: "\44";
}
.data-iconeye:before {
    content: "\76";
}
.data-iconcheckmark:before {
    content: "\e606";
}
.data-iconclose:before {
    content: "\63";
}
.data-iconplus:before {
    content: "\21";
}
.data-iconenter:before {
    content: "\2b";
}
.data-iconexit:before {
    content: "\65";
}
.data-iconfilter:before {
    content: "\46";
}
.data-iconuser:before {
    content: "\75";
}
.data-iconphone:before {
    content: "\70";
}
.data-iconenvelope:before {
    content: "\6d";
}
.data-icontags:before {
    content: "\54";
}