/* Lightbox */

#lightbox-box {
    position:absolute;
    width:100%;
    height:100%;
    z-index:200;
}

#lightbox-box .lightbox-bg {
    display:block;
    position:fixed;
    background:rgba(0,0,0,0.8);
    width:100%;
    height:100%;
    z-index:199;
}

#lightbox-box.blackout > div > img {
    background:transparent!important;
}

#lightbox-box.blackout > div {
    opacity: 1;
    filter: alpha(opacity=100);
}

#lightbox-box > div > span {
    display:none;
    position:absolute;
    bottom:30px;
    left:0px;
    z-index:200;
    background:rgba(0,0,0,0.5);
    padding:12px 18px;
    font-size:13px;
    font-family:Arial;
    max-width:600px;
    color:#fff;
}

#lightbox-box > a {
    display:none;
    position:fixed;
    top:30px;
    right:30px;
    font-size:12px;
    font-weight:bold;
    color:transparent;
    overflow:hidden;
    width:30px;
    height:30px;
    background:url(../images/lightbox-close.png) no-repeat center;
    opacity: 0.3;
    filter: alpha(opacity=30);
    z-index:201;
}

#lightbox-box > a:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

#lightbox-box > div {
    display:block;
    position:absolute;
    width:80px;
    height:80px;
    background:#fff url(../images/loading.gif) no-repeat center;
    text-align:center;
    box-shadow:0px 1px 6px rgba(0,0,0,0.3);
    -moz-transition: width 0.4s, height 0.4s, top 0.4s, left 0.4s;
    -webkit-transition: width 0.4s, height 0.4s, top 0.4s, left 0.4s;
    -o-transition: width 0.4s, height 0.4s, top 0.4s, left 0.4s;
    opacity: 0.8;
    filter: alpha(opacity=80);
    z-index:201;
}

#lightbox-box > div > font {
    position:absolute;
    bottom:-36px;
    right:0px;
    display:none;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#lightbox-box > div > font a {
    float:left;
    display:block;
    background-position:center top;
    background-repeat:no-repeat;
    color:transparent;
    width:28px;
    height:28px;
}

#lightbox-box > div > font a#lightbox-left {
    background-image:url(../images/lightbox-left.jpg);
}

#lightbox-box > div > font a#lightbox-right {
    background-image:url(../images/lightbox-right.jpg);
}

#lightbox-box > div > font a:hover {
    background-position:center bottom;
}

#lightbox-box.blackout > div > img {
    opacity: 1;
    filter: alpha(opacity=100);
}

#lightbox-box > div > img {
    width:100%;
    height:100%;
    background:transparent;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.lightbox-photo {
    line-height: 16px;
}