@import "variables";

/*
 * Desktop
 */
@media only screen and (max-width: 1200px) {

    .active.boxed {
        max-width: 100%;
    }

    .boxed {
        min-width: 320px !important;
    }

    .main-sidebar {
        display: none !important;
    }

    .wrapper {
        width: 900px;
    }

    .main-menu .the-menu li a {
      padding: 14px 7px;
    }

    .ad-link.top {
        left: 2%;
    }

    .header .header-menu {
        width: 37%;
    }

    #writecomment p label {
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        text-align: left;
        line-height: 130%;
    }

    .photo-gallery-grid {
        width: 105%;
    }

    .photo-gallery-grid .photo-gallery-block {
        width: 23%;
    }

    .banner img {
        max-width: 100%;
    }

    .block-content.archive > .block:nth-child(5n),
    .block-content.archive > .block {
        //width: 23.46%;
        //margin-right: 2%;
    }

    .block-content.archive > .block:nth-child(4n) {
//        margin-right: 0px;
    }
}

/**
 * Tablet
 */

@media only screen and (max-width: 900px) {

  .videos-issues {
    display: inline-block;
    width: 300px;
    margin: 0 10px 0 0;
  }

  .videos-issues-right {
    margin-left: 0px;
  }

    //bottom adverts styles
    div.top > figure {
      display: inline;
      margin: 5px 5px 0px 0px;
      float: left;
      width: 200px;
      height: 200px;
    }
    //top adverts styles
    div.vtop > figure {
      text-align: left;
    }

    body, div, p, a, table, td {
        -webkit-text-size-adjust: none;
        letter-spacing: .015em;
    }

    body {
        overflow-x: hidden;
        overflow-y: auto;
    }

    body.menu-active {
        overflow: hidden;
        position: relative;
        height: 100%;
    }

    .menu-active .boxed {
        margin-bottom: 60%;
        overflow: hidden;
    }

    .boxed {
        z-index: 2;
        position: relative;
        width: 100%;
        transition: margin 0.2s;
        -moz-transition: margin 0.2s;
        -webkit-transition: margin 0.2s;
        -o-transition: margin 0.2s;
        height: 100%;
    }

    .wrapper {
        width: 90%;
    }

    .ad-link.top {
        display: none;
    }

    .ad-banner img {
        max-width: 100%;
        height: auto;
    }

    .header > .wrapper {
      padding: 2px 0px 15px;
    }

    .header .header-menu {
        width: 100%;
        margin: 30px 0px 0px 0px;
        clear: both;
        float: none;
        display: block;
    }

    .header .header-addons {
        float: none;
        display: block;
        width: 100%;
        clear: both;
        text-align: center;
        padding-top: 20px;
        border-top: 1px solid rgba(0,0,0,0.1);
        margin-top: 25px;
        margin-bottom: 20px;
    }

    .header .header-addons > div {
        display: inline-block !important;
//        text-align: left;
    }

    .header .header-addons .header-weather {
        margin-top: 3px;
        margin-right: 20px;
        margin-bottom: 7px;
    }

    a.mobile-menu {
      background:  @templateColor;
      color: #FFFFFF;
      display: block !important;
      font-size: 40px;
      line-height: 100%;
      padding: 0 5px;
      text-align: center;
      width: 5px;
    }

    a.mobile-menu-up {
        line-height: 50%;
        padding: 0px 0px 5px;
        word-wrap: break-word;
    }

    .header .header-logo {
//        margin-left: 0px;
//      margin: 20px 0 0 0;
        display: block;
        float: none;
      text-align: center;
    }

    .secondary-menu,
    .main-menu .wrapper ul {
        display: none;
    }

    body.menu-active .themenumobile {
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
    }

    .themenumobile {
        display: block;
        z-index: 1;
        background: none;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        box-shadow: inset -60px 0px 60px -70px rgba(0,0,0,0.3);
        overflow-x: hidden;
        overflow-y: auto;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
    }

    .themenumobile figure {
      height: 30px;
      color: #fff;
      background: @templateColor;
        display: block;
        margin: 0px 0px -15px 0px;
      font-size: 40px;
      padding: 20px 15px 10px 15px;;
    }

    .themenumobile > ul {
      height: 190px;
      background: @templateColor;
        display: block;
        padding: 15px;
    }

    .themenumobile > ul ul {
        border-left: 4px solid rgba(255,255,255,0.05);
    }

    .themenumobile ul li {
      display: inline-block;
      width: 30%;
    }

    .themenumobile ul li a {
        display: inline-block;
        padding: 10px;
//        border-bottom: 1px solid rgba(255,255,255,0.05);
        font-weight: bold;
        color: #ccc;
    }

    .themenumobile ul li a:hover {
        background: rgba(255,255,255,0.05);
    }

    .escape-mobile-menu {
        display: block;
        position: absolute;
        height: 100%;
        top: 265px;
        right: 0px;
        width: 100%;
        z-index: 1;
        background: #232323;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 1;
        box-shadow: inset 30px 0px 30px -40px #000, inset 1px 0px 0px rgba(255,255,255,0.3);
    }

    body.menu-active .escape-mobile-menu {
        z-index: 3;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        opacity: 0.5;
    }

    body.menu-active .escape-mobile-menu:hover {
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: 0.4;
    }

    body.menu-active .demo-settings {
        display: none;
    }

    .article-block-big li {
        width: 28.85%;
        margin-right: 2.17%;
    }

    .article-block-big li .article-photo img,
    .article-block-big li .article-photo {
        width: 100%!important;
        height: auto!important;
    }

    .double-block .content-block,
    .double-block .content-block.main {
        display: block;
        width: 100%;
        margin: 0px;
        float: none;
    }

    .footer ul {
        display: block;
        float: none;
        width: 100%;
        clear: both;
        margin-bottom: 15px;
    }

    .footer ul li:first-child {
        margin-left: 0px;
    }

    .footer ul:after {
        display: block;
        content: '';
        clear: both;
    }

    .main-content .main-page {
        float: none;
    }


    .double-block .content-block .featured-block img {
//        width: 100%; // commented to make homepage video block image keep its ratio
        height: auto;
    }

    .double-block .content-block:not(.main) .featured-block {
        display: none;
    }

    .single-block .content-block {
        display: block;
        width: 100%;
    }

    #writecomment {
        width: 70%;
    }

    #writecomment p label {
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        text-align: left;
        line-height: 130%;
    }

    .article-title h1 {
        line-height: 110%;
    }

    .article-title h1,
    .article-tags,
    .article-title .author {
        margin-right: 0px;
        margin-top: 20px;
        clear: both;
    }

    .article-title .author:after {
        display: block;
        clear: both;
        content: ''
    }

    .article-title .share-block {
        float: none;
        position: relative;
        display: block;
        width: 100%;
        clear: both;
        padding-left: 0px;
    }

    .article-title .share-block:before {
        display: none;
    }

    .full-width .article-title h1 {
        margin-top: 0px;
    }

    .full-width .article-title .share-block {
        display: none;
    }

    .gallery-preview {
        width: 100%;
        max-width: 450px;
    }

    .photo-gallery-grid {
        width: 109.8%;
    }

    .photo-gallery-grid .photo-gallery-block {
        width: 28.85%;
//        margin-right: 2.17%;
    }

    .block-content.archive > .block:nth-child(4n),
    .block-content.archive > .block:nth-child(5n),
    .block-content.archive > .block {
        width: 30%;
//        margin-right: 5%;
    }

    .block-content.archive > .block:nth-child(3n) {
        margin-right: 0px;
    }

    .gallery-photo .hover-effect,
    .gallery-photo .hover-effect .cover img {
//        width: 100%; //commented to make home page block 'our latest magazine' image looks smooth
    }

    .gallery-photo {
        width: 100%;
    }

    .hidden-mobile {
      display: none !important;
    }

    .article-content.space-for-image {
      margin-left: 0px !important;
    }

    .vads-align {
      text-align: center;
    }

    //make form items labels visible
    .form p label,
    .form div label {
      color: #6B6B6B;
      display: block;
      left: 0;
      line-height: 30px;
      position: relative;
      text-align: left;
      top: 0;
      white-space: nowrap;
      width: 100px;
    }

    //hide top horizontal banner
    .vads-horizontal {
      display: none;
    }

}

/**
 * Mobile
 */

@media only screen and (max-width: 600px) {

  body {
    font-size: 1.5rem;
  }

  .demo-settings {
    display: none !important;
  }

  .wrapper {
    width: 98%;
  }

  .header {
    .header-addons > div {
      display: block;
      margin: 5px auto;
      width: 100%;
      text-align: center;
    }

    .header-login {
      display: block;
    }

    .header-weather, #weather {
      display: none;
      float: none;
    }

//    .header-logo {
//      max-width: 85%;
//    }

    .header-menu {
      display: none;
    }
  }

  .menu-active .boxed {
    margin-bottom: 30%;
    overflow: hidden;
  }

  .escape-mobile-menu {
    width: 100%;
    top: 330px;
  }

  .themenumobile {
    font-size: 60%;
  }

  .themenumobile > ul {
    height: 255px;
  }

  .themenumobile ul li {
    display: inline-block;
    width: 50%;
  }

  .themenumobile ul li a {
    padding: 5px 10px;
  }

  .paragraph-row > div {
    float: none;
    margin: 0px !important;
    width: 100% !important;
    display: block;
  }

  .wide-article .article-photo {
    margin-top: 3px;
  }

  .wide-article .article-photo img,
  .wide-article .article-photo {
    width: 60px;
  }

  .wide-article .article-content {
    margin-left: 70px;
  }

  .wide-article .article-content p {
    display: none;
  }

  .wide-article .article-content h2 {
    font-size: 14px;
    font-weight: normal;
  }

  .block-title .right {
    display: none;
  }

  .footer ul {
    display: none;
  }

  .footer .logo-footer {
    float: none;
  }

  .footer .logo-footer {
    float: none;
  }

  .footer p {
    display: block;
    width: 100%;
    margin-top: 10px;
  }

  .header-login, .header-login .signin.form {
    width: 290px;
  }

  .header-login .signin.form p {
    width: 290px;
  }

  .header .header-addons > div {
    width: auto;
  }

  .header {
    .header-addons {
      .header-weather {
        margin-bottom: 15px;
        margin-right: 0px;
        display: block;
      }

      .header-search {
        display: block;
        width: 60%;
        text-align: center;
      }

      .header-search input[type=text] {
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
    }
  }

  .article-big .article-photo img {
    width: 60px;
  }

  .article-big .article-content {
    margin-left: 70px;
  }

  .pagination .page-numbers {
    vertical-align: bottom;
  }

  .pagination .page-numbers.next,
  .pagination .page-numbers.prev {
    font-size: 0;
    line-height: 18px;
    display: inline-block;
  }

  .pagination .page-numbers.next .icon-text,
  .pagination .page-numbers.prev .icon-text {
    font-size: 12px;
    padding: 0px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 17px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 15px;
  }

  h6 {
    font-size: 14px;
  }

  #writecomment {
    width: 100%;
  }

  .comment-block > ol > li ul li .commment-content {
    padding-left: 15px;
  }

  .comment-block > ol > li > ul:before {
    left: 12%;
  }

  .comment-block > ol > li ul li .commment-content .time-stamp,
  .comment-block .commment-content .time-stamp {
    display: block;
    position: relative;
    float: none;
    margin-bottom: 5px;
    margin-top: -5px;
    top: auto;
    right: auto;
  }

  .gallery-preview {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .photo-gallery-grid {

    .photo-gallery-block {
      &.event {
        display: block;
        width: 88%;

        .gallery-content {
          font-size: 1rem;
          text-overflow: ellipsis;

          .gallery-title {
            height: 40px;
          }
        }
      }
    }
  }

  .block-content.archive > .block:nth-child(4n),
  .block-content.archive > .block:nth-child(3n),
  .block-content.archive > .block:nth-child(5n),
  .block-content.archive > .block {
    width: 46%;
    margin-right: 0px;
  }

  .block-content.archive > .block:nth-child(2n+1) {
    margin-right: 5%;
  }

  .hover-effect {
    max-width: 100%;
  }

  .double-block .content-block.right {
    margin-left: 0px;
  }

  .logo-footer img,
  .header-logo img {
    //        max-width: 80% !important;
  }

  .featured-block .article-content {
    position: inherit;
    margin-top: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .article-block-big {
    width: 100%;
//    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .article-block-big li {
    width: 100%;
    margin-right: 0px;
  }

  .ad-banner {
    margin-bottom: 10px;
  }

  .vads {
    //        display: none;
    min-width: 400px;
  }

  .hover-effect {
    &.max {
      max-width: none;
      max-height: 400px;
    }
  }

  //hide top horizontal banner
  .vads-horizontal {
    display: none;
  }

  .vads-align {
    text-align: center;
  }
  //bottom adverts styles
  div.top > figure {
    display: inline-block;
    margin: 5px 5px 0px 0px;
    float: none;
    width: 200px;
    height: 200px;
  }

  .videos-issues {
    display: inline-block;
    width: 300px;
    margin: 0 10px 0 0;
  }

  .videos-issues-right {
    margin-left: 0px;
  }

  //make form items labels visible
  .form p label,
  .form div label {
    color: #6B6B6B;
    display: block;
    font-size: 85%;
    left: 0;
    line-height: 30px;
    position: relative;
    text-align: left;
    top: 0;
    white-space: nowrap;
    width: 100px;
  }

  //login menu
  .header-login .signin.form p a {
    padding: 0px 10px 9px;
  }

}