// Width sizes
@screenWidth: 1170px;
@sideColumnWidth: 250px;
@mainSidebarWidth: 250px;
@contentWidth: @screenWidth - @sideColumnWidth - @mainSidebarWidth - 40;

@inputBorder: 1px solid #d3d3d3;
@inputBorderFocus: 1px solid #bababa;
@inputBorderError: 1px solid #a12717;

// Colors
@templateColor: #003e7e; //#001F5B;
@headerColor: @templateColor;
//@headerColor: lighten(@templateColor, 5%);
@menuColor: @templateColor;
@listHeaderColor:@headerColor;
//@listHeaderColor: lighten(@headerColor, 5%);
@listTitleBorerColor: lighten(@headerColor, 10%);
//@buttonColor: lighten(@templateColor, 15%);
@buttonColor: @templateColor;
@linkColor: lighten(@templateColor, 10%);
@hrColor: #c0bfbf;

@errorColor: #ce1818;
@infoColor: #e57f1b;
@successColor: #61aa21;

@clr-local: #183B7E;
@clr-regional: #4E535A;
@clr-worldwide: #F3892D;
@clr-we-chat-with: #A3ADB4;
@clr-sustainability: #1D97A4;
@clr-oil-and-gas: #000000;
@clr-infrastructure: #FDC844;
@clr-rail-and-transport: #B40C39;
@clr-ceramics: #F17932;
