a(class='button', href='/admin/subscriptions') Back

form#subscriptions(action='/admin/subscriptions/', method='POST')
  input(type="hidden", name="id", value="#{offer.data.id}")

  div(data-role='fieldcontain')
    select(name="name")
      each dom in domains
        option(value=dom, selected=(dom==domain)) #{dom}

  div(data-role='fieldcontain')
    input(name="interval")
  div(data-role='fieldcontain')
    input(name="amount")

  div(data-role='fieldcontain')
    button(type='submit',data-transition='fade', data-theme='c') Save
