extend ../../admin

block content
  h1 Subscriptions

  each offer,domain in offers
    article(class="subscribe-#{domain}")
      h1 #{domain}
      a(class='button', href='/admin/subscriptions/new?domain=#{domain}', data-icon='!') New

      table
        thead
          tr
            td Length
            td Cost
            td Actions
        tbody
          each sub in offer
            tr
              td #{sub.interval}
              td #{sub.amount / 100} #{sub.currency}
              td
                a(class='button-icon', href='/admin/subscriptions/#{sub.id}') v
                a(class='button-icon', href='/admin/subscriptions/#{sub.id}/edit') E
                a(class='button-icon', data-ajax='delete', href='/admin/subscriptions/#{sub.id}') "


