include ../../mixins/admin

a(class='button', href='/admin/adverts') Back

form#ad(action="/admin/adverts/"+ad.id, method='POST', data-minwidth="800")

  input(type='hidden', name='_method', value='PUT')
  input(type='hidden', name='id', value=ad.id)

  div(data-role='fieldcontain')
    label Advert Name
    input(id='advert_name', type='text', name='advert_name', value=ad.advert_name, placeholder='Advert name')

  div(data-role='fieldcontain')
    input(type='hidden', name='image', id='image_url', value=images )

    label Advert Link
    input(id='link', type='text', name='link', value=ad.link, placeholder='Link for ad')

  div(data-role='fieldcontain')
    label Order of advert
    input(id='order', type='number', name='order', value=ad.order || 3)

  div(data-role='fieldcontain')
    label(for="type") Where advert should be ?
    select(name="type")
      option(value="vertical", selected=(ad.type == 'vertical')) Vertical
      option(value="horizontal", selected=(ad.type == 'horizontal')) Horizontal

  div(data-role='fieldcontain')
    label(for="magazines") Which magazine is this for?
    +magazineSelect('magazines', ad.magazines)(multiple="true")

  //div(data-role='fieldcontain')
  //  label(for="featured")
  //    input(type="checkbox", name="featured")
  //    | Premium size?
  //
  //
  //div(data-role='fieldcontain')
  //  label(for="mobile")
  //    input(type="checkbox", name="mobile")
  //    | Visible on mobile view?

  if ad && ad.images != ''
    div Current file is:
        img(src=ad.images, style='margin: 0 0 0 10px;')

  div(data-role='fieldcontain', id='wrapper').fileupload
    fieldset(role='fileupload', draggable=true)
      if ad && ad.images
        legend Upload new File
      else
        legend Upload a File
      //- No name; not submitted with form.
      //- js intercept, upload, pass back refs to image and insert into editor.
      input(type='file', class='autoupload', name='filesToUpload[]', id='filesToUpload', multiple='false', data-destination='ad/'+ad.id )
      #uploaded.preview



  div(data-role='fieldcontain')
    input( type='submit',value='Save',data-transition='fade', data-theme='c').button
