extend ../../admin

block content
  .block
    .block-title
      h2 Adverts
    .block-content
      .actions
        a(class='button', href='/admin/adverts/new', data-icon='!') New advert

      table
        thead
          tr
            td Name
            td link
            td Type
            td Position
            td Priority
            td Actions
        tbody
          each ad in premium
            tr(class='premium')
              td #{ad.advert_name}
              td #{ad.link}
              td Premium
              td #{ad.type}
              td #{ad.priority}
              td
                a(class='button-icon', href='/admin/adverts/#{ad.id}') v
                a(class='button-icon', href='/admin/adverts/#{ad.id}/edit') E
                a(class='button-icon', data-ajax='delete', href='/admin/adverts/#{ad.id}') "

          each ad in featured
            tr(class='featured')
              td #{ad.advert_name}
              td #{ad.link}
              td Featured
              td #{ad.type}
              td #{ad.priority}
              td
                a(class='button-icon', href='/admin/adverts/#{ad.id}') v
                a(class='button-icon', href='/admin/adverts/#{ad.id}/edit') E
                a(class='button-icon', data-ajax='delete', href='/admin/adverts/#{ad.id}') "

          each ad in small
            tr(class='small')
              td #{ad.advert_name}
              td #{ad.link}
              td Small
              td #{ad.type}
              td #{ad.priority}
              td
                a(class='button-icon', href='/admin/adverts/#{ad.id}') v
                a(class='button-icon', href='/admin/adverts/#{ad.id}/edit') E
                a(class='button-icon', data-ajax='delete', href='/admin/adverts/#{ad.id}') "

