extend ../../admin

block content
  .show
    h1 ID: #{ad.id}
    p #{ad.advert_name}
    p #{ad.link}

    h2 Images

    img(src=ad.images[0])
    img(src=ad.images[1])

    h4 Clicks
    div(data-graph)
      div.display(data-src=ad.id + '/clicks/csv', data-label='Clicks',
        data-width=900, data-height=300)

      input(name='start', value=start, type='date')
      input(name='stop', value=stop, type='date')

    h4 Impressions
    div(data-graph)
      div.display(data-src=ad.id + '/impressions/csv', data-label='Impressions',
        data-width=900, data-height=300)

      input(name='start', value=start, type='date')
      input(name='stop', value=stop, type='date')

    h4 CTR
    div(data-graph)
      div.display(data-src=ad.id + '/ctr/csv', data-label='CTR (%)',
        data-width=900, data-height=300)

      input(name='start', value=start, type='date')
      input(name='stop', value=stop, type='date')
