extends base

block subnav
  ul
    li: a(href='/admin') index
    li: a(href='/admin/adverts') adverts
    li: a(href='/admin/jobs') jobs
    li: a(href='/admin/news') news
    li: a(href='/admin/events') events
    li: a(href='/admin/issues') back issues
    li: a(href='/admin/interview') videos
    li: a(href='/admin/users') users
    li: a(href='/admin/pages') pages
    li: a(href='/admin/testimonials') testimonials
    li: a(href='/admin/mediapack') media packs


block page
  .main-content
    .full-width.admin

      if(notices && notices.length > 0)
        each notice in notices
          +info(notice)

        if(errors && errors.length > 0)
          each error in errors
            +error(error)

        if(successes && successes.length > 0)
          each success in successes
            +success(success)

      block content
