include mixins/alerts
doctype 5
html(lang='en').no-js
  head
    title #{settings.name}
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    != css('screen')
    != css('responsive')
    if (paymill_public_key)
      script var PAYMILL_PUBLIC_KEY = '#{paymill_public_key}';
      script(type='text/javascript', src='https://bridge.paymill.com/')
  body(class=settings.magazine)
    .boxed
      .header
        .wrapper
          .header-addons
            include _shared/log_in_form
            //#weather
            include _shared/search_form
          div(style='clear: both;')
          .header-logo
            a(href='/')
              img(src='/img/png-logos/top-center-#{settings.magazine}.png')
              //img(src='/img/logos/#{settings.magazine}.svg')
        .main-menu.sticky
          //div(style='position: inherit; top: 0px; left auto; width: 920px;').wrapper
          .wrapper
            ul.the-menu.transition-active.menu-center
              li: a(href='/') Home
              li: a(href='/news') News
              li: a(href='/mediapack') Advertise
              //if (settings.user)
              li: a(href='/issues') Back issues
              li: a(href='/jobs') Jobs
              li: a(href='/interviews') Videos
              li: a(href='/events') Events
              li: a(href='/testimonials') Testimonials
              li: a(href='/subscribe') Subscribe
              li: a(href='/contact') Contact
              if (settings.user && settings.magazine != 'oman')
                li: a(href='/account') Your Account
        if (settings.user && settings.user.hasAuth('write'))
          .secondary-menu
            .wrapper
              block subnav
      .content
        .wrapper
          block page
      .footer
        .wrapper
          //ul.right
          //  li: a(href='/') Home
          //  li: a(href='/news') News
          //  li: a(href='/contact') Contact, Us
          //div(style='width: 130px; text-align:right;').right
          //  include _shared/log_in_form
          .left
            a(href='http://www.#{settings.magazine}projectsmagazine.com/', class='logo-footer')
              img(src='/img/logos/tpg.png', alt='tpg media ltd')
          p.left
            strong #{settings.name} Projects magazine<br>
            | TPG Publishing LLC<br>
            | PO BOX 115421<br>
            | Dubai<br>
            | UAE
            br
            a(class='tel', href='tel:+97143494925', style='color: #a0a0a0;') T: +971 4 3494925
            br
            span(class='fax') F: +971 4 3494915
          //other projects logo links
          p.right.projects-logos
            -each domain in settings.domains
              -if (domain.magazine == settings.magazine || domain.status == 0)
                -continue;
              -else
                a(href='http://www.#{domain.magazine}projectsmagazine.com/')
                  span.btn-logos
                    img(src='/img/png-logos/#{domain.magazine}-l.png')
            span
              a(href='http://www.youtube.com/channel/UCycBN8_5xJo3PmV91fHCuxw', target='_blank')
                img(src='/images/share_youtube.png', style='height: 21px;')
              a(href='http://www.linkedin.com/company/tpg-publishing?trk=tyah&trkInfo=tarId%3A1401380770764%2Ctas%3Atpg+publis%2Cidx%3A1-1-1', target='_blank')
                img(src='/images/share_linkedin.png')
              img(src='/images/share_facebook.png')
              img(src='/images/share_tweet.png')
              img(src='/images/share_google.png')
          .clear-float
      != js('main')
      script(src='/js/vendor/flowplayer/flowplayer.min.js')
