extends base

include mixins/blocks

block page
  //commented as the block was moved into main content block
  //+bannerVertical('728x90')

  block breaking-news

  .main-content

    .main-page.left
      .double-block
        .content-block.main.right

          block ancilliary_navigation

          if(notices && notices.length > 0)
            each notice in notices
              +info(notice)

          if(errors && errors.length > 0)
            each error in errors
              +error(error)

          if(successes && successes.length > 0)
            each success in successes
              +success(success)

          +bannerHorizontal('728x90')

          block content

        .content-block.left

          +newsLetterSubscribeBlock()

          block sideLeftTop

          +bannerBlock('200x200')

          block sideLeft

    .main-sidebar.right

      block sideRight

      +bannerWidget('300x250')

    .clear-float