extends base
block page
  .wrapper
    .ad-banner
      a(href='/')
        img(src='/images/no-banner-728x90.jpg')

  block breaking-news

  .main-content
    .main-page.left
      .single-block
        .content-block.main.left
          block content

    .main-sidebar.right

      .widget
        a(href='/')
          img(src='/images/no-banner-300x250.jpg')

      block sideRight

    .clear-float