
#news-items {
    //

    .article {
        display:block;
        padding:0.5em 0;
        font-size:0.8em;

        a {
            // border:1px solid red;
            background:rgba(#000,0.5);
            background-size:cover;
            display:table;
            height:100%;width:100%;
            color:white;
            font-weight:bold;
            text-decoration: none;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover { text-decoration: underline; }

            p {
                display:block;
                vertical-align: bottom;
                padding:0.5em 0.75em;
                width:100%;

            }
        }
    }



@include at-breakpoint(40em) {
height:600px;

    .article {
        display:inline-block; float:left;
        padding:0.5em;
    }

    .article:nth-child(1)  { width:66.66%; height:25%; }
    .article:nth-child(2)  { width:33.33%; height:25%; }
    .article:nth-child(3)  { width:33.33%; height:25%; }
    .article:nth-child(4)  { width:66.66%; height:25%; }
    .article:nth-child(5)  { width:66.66%; height:25%; }
    .article:nth-child(6)  { width:33.33%; height:25%; }
    .article:nth-child(7)  { width:33.33%; height:25%; }
    .article:nth-child(8)  { width:66.66%; height:25%; }
    .article:nth-child(9)  { width:66.66%; height:25%; }
    .article:nth-child(10) { width:33.33%; height:25%; }

    .article.oil-and-gas a { background:url('../img/news-sections/oil-and-gas.jpg') no-repeat center; }
    .article.ceramics a { background:url('../img/news-sections/ceramics.jpg') no-repeat center; }
    .article.rail-and-transport a { background:url('../img/news-sections/rail-and-transport.jpg') no-repeat center; }
    .article.infrastructure a { background:url('../img/news-sections/infrastructure.jpg') no-repeat center; }
    .article.sustainability a { background:url('../img/news-sections/sustainability.jpg') no-repeat center; }
    .article.we-chat-with a { background:url('../img/news-sections/we-chat-with.jpg') no-repeat center; }
    .article.worldwide a { background:url('../img/news-sections/worldwide.jpg') no-repeat center; }
    .article.regional a { background:url('../img/news-sections/regional.jpg') no-repeat center; }
    .article.local a { background:url('../img/news-sections/local.jpg') no-repeat center; }
}

@include at-breakpoint(65em) {
.article:nth-child(1) { width:40%; height:50%; }
.article:nth-child(2) { width:40%; height:25%; }
.article:nth-child(3) { width:20%; height:25%; float:right; }
.article:nth-child(4) { width:20%; height:25%; }
.article:nth-child(5) { width:40%; height:50%; float:right; }
.article:nth-child(6) { width:40%; height:25%; }
.article:nth-child(7) { width:20%; height:25%; }
.article:nth-child(8) { width:40%; height:25%; }
.article:nth-child(9) { width:20%; height:25%; }
.article:nth-child(10) { width:40%; height:25%; float:right; }
}

.article.oil-and-gas a > p        { background:rgba($clr-oil-and-gas, 0.5); }
.article.ceramics a > p           { background:rgba($clr-ceramics, 0.5); }
.article.rail-and-transport a > p { background:rgba($clr-rail-and-transport, 0.5); }
.article.infrastructure a > p     { background:rgba($clr-infrastructure, 0.5); }
.article.sustainability a > p     { background:rgba($clr-sustainability, 0.5); }
.article.we-chat-with a > p       { background:rgba($clr-we-chat-with, 0.5); }
.article.worldwide a > p          { background:rgba($clr-worldwide, 0.5); }
.article.regional a > p           { background:rgba($clr-regional, 0.5); }
.article.local a > p              { background:rgba($clr-local, 0.5); }
}