a(class='button', href='/admin/mediapack') Back

form#pages(action='/admin/mediapack/'+ (doc.id || ''), method='POST', enctype='multipart/form-data')
  if(doc.id)
    input(type='hidden', name='_method', value='PUT')
    input(type='hidden', name='id', value=doc.id)

  div(data-role='fieldcontain')
    label Title
    input(id='title', type='text', name='title', value=doc.title, placeholder='Title of Media pack')

  div(data-role='fieldcontain')
    label Link
    input(id='link', type='text', name='link', value=doc.link, placeholder='Link')

  div(data-role='fieldcontain')
    label Description
    input(id='description', type='text', name='description', value=doc.description, placeholder='Description')

  div(data-role='fieldcontain')
    fieldset(role='fileupload')
      legend Upload a File
      //- No name; not submitted with form.
      //- js intercept, upload, pass back refs to image and insert into editor.
      input(type='file', name='filesToUpload', multiple='false' )

  div(data-role='fieldcontain')
    button(class='button', type='submit', data-transition='fade', data-theme='c') Save + Preview
