extends ../../admin

block content
  .block
    .block-title
      h2 Media Pack details
    .block-content
      .actions
        a(href='/admin/mediapack').button Back
      hr
      p
        strong #{doc.title}

      if(doc.description)
        p #{doc.description}

      - if (doc.image)
        img(src='#{doc.image}')

      if (doc.link)
        p.margin-small
          a(href=doc.link, target='_blank').button Open link in new tab